<!-- Notification -->
<div class="notification col-12">

        <!-- Warning -->
        <div class="alert alert-info">
            <span class="close-button">&times;</span>
            <span class="timeStamp">15/09/2012 - 02:18</span>
            [<strong>Info</strong>] Website Masih Dalam Tahap Pengembangan! 
        </div>

    </div>

    <!-- Content Row -->
    <div class="container">

        <!-- Kontent -->
        <div class="row mt-4">

            <!-- Kolom Kiri -->
            <div class="col-sm-12 col-md-7 col-lg-8">

                <!-- Announcements -->
                <div class="widget widget-bg mb-3 Roboto">
                    <h3 class="widget-header">
                        <span class="widget-more" style="float: right;">
                            <a routerLink="/pengumuman" style="font-weight: normal; font-size: 15px;">
                                View More
                            </a>
                        </span>
                        Pengumuman
                    </h3>
                    <div id="pengumumanHome" class="widget-content">
                        <ul class="list-unstyled">
                            <li class="media widget-topic" *ngFor="let data of pengumumanData | slice: 0:3;">
                                <img class="mr-3" width="85" src="{{data.img[0]}}" alt="{{data.img[1]}}" />
                                <div class="media-body">
                                    <div class="mt-0 mb-1">
                                        <a routerLink="/pengumuman/{{data.id}}">
                                            <strong>{{data.title}}</strong>
                                        </a>
                                    </div>
                                    <div class="d-none d-md-block">{{data.content | slice: 0:100}}...</div>
                                    <span class="widget-creator">
                                        <i class="fa fa-calendar"> {{data.calendar[0]}}</i> &nbsp;
                                        <i class="fa fa-clock-o"> {{data.calendar[1]}}</i> &nbsp;
                                        <i class="fa fa-commenting-o"> {{data.comment}}</i> &nbsp;
                                        <i class="fa fa-tags"> 
                                            <a routerLink="/tag/{{tag}}" *ngFor="let tag of data.tags"> {{tag}}</a>
                                        </i> &nbsp;
                                        <i class="fa fa-user-o">
                                            <a routerLink="/profile/{{data.user[0]}}"> {{data.user[1]}}</a>
                                        </i> &nbsp;
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Now Playing -->
                <div class="widget widget-bg mb-4 Roboto">
                    <h3 class="widget-header">
                        <span class="widget-more" style="float: right;">
                            <a routerLink="/rilisan" style="font-weight: normal; font-size: 15px;">
                                View More
                            </a>
                        </span>
                        Daftar Rilisan
                    </h3>
                    <div id="rilisanHome" class="widget-content">
                        <div class="main-carousel">
                            <a (dblclick)="openDetails(rilisanData.results[0].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[0].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                                
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[1].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[1].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[2].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[2].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[3].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[3].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[4].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[4].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[5].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[5].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[6].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[6].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[7].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[7].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[8].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[8].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                            <a (dblclick)="openDetails(rilisanData.results[9].id)" class="carousel-cell"
                                [ngStyle]="{
                                    'background': 'url(' + 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + rilisanData.results[9].poster_path + ')',
                                    'background-position': 'center center',
                                    'background-size': '150px 225px'
                                }">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Latest Post -->
                <div class="widget widget-bg mb-3 Nunito">
                    <h3 class="widget-header">
                        <span class="widget-more" style="float: right;">
                            <a routerLink="/diskusi" style="font-weight: normal; font-size: 15px;">
                                View More
                            </a>
                        </span>
                        Diskusi Terakhir
                    </h3>
                    <div id="diskusiHome" class="widget-content">
                        <ul class="list-unstyled">
                            <li class="media widget-topic" *ngFor="let data of diskusiData | slice: 0:3;">
                                <img class="mr-3" width="170" src="{{data.img[0]}}" alt="{{data.img[1]}}" />
                                <div class="media-body">
                                    <div class="mt-0 mb-1">
                                        <a routerLink="/pengumuman/{{data.id}}">
                                            <strong>{{data.title}}</strong>
                                        </a>
                                    </div>
                                    <div class="d-none d-md-block">{{data.content | slice: 0:100}}...</div>
                                    <span class="widget-creator">
                                        <i class="fa fa-calendar"> {{data.calendar[0]}}</i> &nbsp;
                                        <i class="fa fa-clock-o"> {{data.calendar[1]}}</i> &nbsp;
                                        <i class="fa fa-user-o">
                                            <a routerLink="/profile/{{data.user[0]}}"> {{data.user[1]}}</a>
                                        </i> &nbsp;
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- Kolom Kanan -->
            <div class="col-sm-12 col-md-5 col-lg-4">

                <!-- Advertisement -->
                <div class="gambar mb-3">
                    <span class="close-button">&times;</span>
                    <img src="/assets/img/Forum.jpg" alt="New Open Forum Registration" />
                </div>

                <!-- Top Movie -->
                <div class="widget widget-bg mb-3 ShadowsIntoLight">
                    <h3 class="widget-header">
                        Rilisan Populer
                    </h3>
                    <div id="populerHome" class="widget-content">
                        <ul class="list-unstyled">
                            <li class="media widget-topic">
                                <img class="mr-2" src="https://image.tmdb.org/t/p/original/ky0xOc5OrhzkZ1N6KyUxacfQsCk.png" alt="Bootstrap" width="50"/>
                                <div class="media-body">
                                    <strong>Warner Bros. Pictures</strong>
                                    <br />
                                    United States of America
                                </div>
                            </li>
                            <li class="media widget-topic">
                                <img class="mr-2" src="https://image.tmdb.org/t/p/original/nu20mtwbEIhUNnQ5NXVhHsNknZj.png" alt="Bootstrap" width="50"/>
                                <div class="media-body">
                                    <strong>Heyday Films</strong>
                                    <br />
                                    United Kingdom
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Discord -->
                <div class="widget widget-bg mb-3 NanumPenScript">
                    <h3 class="widget-header">
                        Join Our Discord Chat Now!
                    </h3>
                    <iframe src="https://discordapp.com/widget?id=342220398022098944&theme=dark" height="450" allowtransparency="true" frameborder="0"></iframe>
                </div>

            </div>
        </div>

    </div>