/* Anime List */

.animelist{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.seasonal-anime-list {
    margin-top: 25px;
}

.clearfix {
    display: block;
    text-align: center;
}

.seasonal-anime-list .seasonal-anime .title .title-text a,
.seasonal-anime-list .seasonal-anime .title .title-text a:visited,
.seasonal-anime-list .seasonal-anime .prodsrc .producer a,
.seasonal-anime-list .seasonal-anime .prodsrc .producer a:visited 
.seasonal-anime-list .seasonal-anime .prodsrc .eps a,
.seasonal-anime-list .seasonal-anime .prodsrc .eps a:visited {
    color: #1d439b;
    text-decoration: none;
}

.seasonal-anime-list .seasonal-anime .title .title-text a:hover,
.seasonal-anime-list .seasonal-anime .prodsrc .producer a:hover,
.seasonal-anime-list .seasonal-anime .prodsrc .eps a:hover {
    color: #ff9800;
    text-decoration: none;
}

    .seasonal-anime-list .seasonal-anime {
        background-color: rgb(245, 245, 245);
        border: gainsboro 1px solid;
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 10px;
        overflow: hidden;
        position: relative;
    }

    .seasonal-anime-list .seasonal-anime .rilisan-content {
        height: auto;
        min-height: 208px;
        max-height: 251px;
    }

    /* Mobile */

    @media screen and (max-width: 767px) {
        
        .seasonal-anime-list .seasonal-anime {
            width: 100%;
        }

    }

    
    /* Desktop */

    @media screen and (min-width: 768px) {
            
        .seasonal-anime-list .seasonal-anime {
            width: calc((100% - 30px) / 3);
        }

        .seasonal-anime-list .seasonal-anime.js-seasonal-anime:nth-child(3n) {
            margin-right: 0px;
        }

    }

    /* Judul */

    .seasonal-anime-list .seasonal-anime .title {
        margin: 0;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
    }

    .seasonal-anime-list .seasonal-anime .title .title-text {
        font-weight: 700;
        line-height: 1.1em;
        padding: 4px 4px;
        margin: 0;
        cursor: pointer;
    }

    /* Produksi Episode */

    .seasonal-anime-list .seasonal-anime .prodsrc {
        background-color: rgb(234, 234, 234);
        display: flex;
        flex-direction: row;
        overflow: hidden;
        padding: 3px 0;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .seasonal-anime-list .seasonal-anime .prodsrc .eps {
        -webkit-box-flex: 1;
        box-flex: 1;
        color: #7f7f7f;
        display: inline-block;
        -ms-flex: 1;
        flex: 1;
        font-size: 13px;
        margin: 0 8px;
        overflow: hidden;
        padding: 0;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .seasonal-anime-list .seasonal-anime .prodsrc .source {
        border-left: 1px solid #d8d8d8;
        -webkit-box-flex: 1;
        box-flex: 1;
        color: #7f7f7f;
        display: inline-block;
        -ms-flex: 1;
        flex: 1;
        font-size: 13px;
        padding: 0;
        padding-left: 8px;
        text-align: left;
    }

    /* Genre */

    .seasonal-anime-list .seasonal-anime .genres {
        background-color: rgb(210, 210, 210);
        border-bottom: #f0f0f0 1px solid;
        display: block;
        list-style: none;
        margin: 0;
        overflow: hidden;
        position: relative;
        text-align: center;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: all;
        transition-property: all;
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        width: 100%;
    }

    .seasonal-anime-list .seasonal-anime .genres .genres-inner {
        width: 100%;
        font-size: 10px;
    }

    .seasonal-anime-list .seasonal-anime .genres .genre {
        background-color: #fff;
        border: #e1e7f7 1px solid;
        border-radius: 5px;
        color: #787878;
        cursor: pointer;
        display: inline-block;
        font-size: 9px;
        line-height: 1.0em;
        margin-right: 1px;
        padding: 1px 4px;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }

    .seasonal-anime-list .seasonal-anime .genres .genre a {
        color: #787878;
        text-decoration: none;
    }

    /* Images */

    .seasonal-anime-list .seasonal-anime .image {
        background-color: #f9f9f9;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        width: 50%;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimizeQuality;
        -ms-interpolation-mode: bicubic;
        position: relative;
        padding-right: 5px;
    }

    /* Synopsis */

    .seasonal-anime-list .seasonal-anime .rilisan-content .synopsis {
        display: inline-block;
        font-size: 12px;
        line-height: 1.4em;
        overflow: hidden;
        height: 208px;
        width: 50%;
        padding-left: 5px;
        padding-top: 5px;
        text-align: left;
    }

    .preline {
        white-space: pre-line;
    }

    .seasonal-anime-list .seasonal-anime .rilisan-content .synopsis .licensors.on {
        display: block;
    }

    .seasonal-anime-list .seasonal-anime .rilisan-content .synopsis .licensors {
        color: #787878;
        display: none;
        margin-bottom: 4px;
        margin-top: 8px;
    }

    .fw-b {
        font-weight: 700!important;
    }

    .seasonal-anime-list .seasonal-anime .rilisan-content .synopsis:hover {
        overflow: auto;
    }

    /* Information */

    .seasonal-anime-list .seasonal-anime .information {
        border-top: 1px solid #ededed;
        bottom: 0;
        display: table;
        height: 20px;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    .seasonal-anime-list .seasonal-anime .information .info {
        background-color: #f9f9f9;
        color: #585858;
        display: table-cell;
        font-size: 10px;
        font-weight: 700;
        height: 20px;
        line-height: 1.0em;
        padding-top: 4px;
        text-align: left;
        width: 167px;
    }

    .seasonal-anime-list .seasonal-anime .information .scormem {
        background-color: #f9f9f9;
        color: #585858;
        display: table-cell;
        font-size: 12px;
        font-weight: 700;
        height: 21px;
        line-height: 1.0em;
        overflow: hidden;
        padding: 0;
        padding-top: 4px;
        width: 166px;
        text-align: left;
    }

    .seasonal-anime-list .seasonal-anime .information .scormem .member {
        display: inline-block;
        margin-right: 3px;
        padding-left: 12px;
        position: relative;
    }

    .fl-r {
        float: right!important;
    }

    .seasonal-anime-list .seasonal-anime .information .scormem .score {
        display: inline-block;
        margin-right: 8px;
        position: relative;
    }