<!-- Header -->
<header class="CormorantGaramond">

    <!-- Topnav Menu Atas, Mobile/Tablets -->
    <nav class="navbar fixed-top" style="background-color: #2e51a2;">
        <a class="navbar-brand bifeldy-logo" routerLink="/" style="color: whitesmoke;" title="{{wesiteData.websiteTitle}}">
            <img src="/favicon.ico" alt="Home" height="30" />
            <b>{{ ' &nbsp;' + wesiteData.websiteTitle }}</b>
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item d-md-none">
                <a id="nav-open-close" routerLink="/" class="text-light" onclick="mobileShowHide();" title="Menu">
                    <i class="fa fa-fw fa-navicon"></i>
                </a>
            </li>
            <li class="nav-item d-none d-md-block">
                <form class="form-inline bifeldy-search-container" action="/search">
                    <input type="text" placeholder="Mau Cari Apa?" aria-label="Search-Box" name="q" />
                    <button type="submit" aria-label="search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </li>
        </ul>
    </nav>

    <!-- Font Icon Lihat Di Sini -- https://www.w3schools.com/icons/fontawesome_icons_webapp.asp -->

    <!-- Navbar Menu -->
    <div id="navbar" class="bifeldy-navbar" onmouseover="navbarShowHide();" onmouseout="navbarShowHide();">
        <div class="clearfix d-none d-md-block"> &nbsp; </div>
        <div class="clearfix d-none d-md-block"> &nbsp; </div>
        <div class="clearfix"> &nbsp; </div>
        <div class="d-md-none">
            <form class="bifeldy-search-container" action="/search">
            <input type="text" placeholder="Mau Cari Apa?" aria-label="Search-Box" name="q" />
            <button type="submit" aria-label="search-button">
                <i class="fa fa-search"></i>
            </button>
            </form>
        </div>

        <a *ngIf="wesiteData.sudahLogin; then sudahLogin; else belumLogin;"></a>
        <ng-template #sudahLogin>
            <a routerLink="/profil" routerLinkActive="active">
                <i class="fa fa-fw fa-user"></i>
                <div class="visibleMenu"> Profil Saya</div>
            </a>
            <a routerLink="/keluar" routerLinkActive="active">
                <i class="fa fa-fw fa-sign-out"></i>
                <div class="visibleMenu"> Keluar</div>
            </a>
        </ng-template>
        <ng-template #belumLogin>
            <a routerLink="/masuk" routerLinkActive="active">
                <i class="fa fa-fw fa-sign-in"></i>
                <div class="visibleMenu"> Masuk</div>
            </a>
            <a routerLink="/daftar" routerLinkActive="active">
                <i class="fa fa-fw fa-user-plus"></i>
                <div class="visibleMenu"> Daftar</div>
            </a>
        </ng-template>
        <hr class="style1" />
        <a routerLink="/pengumuman" routerLinkActive="active">
            <i class="fa fa-fw fa-newspaper-o"></i>
            <div class="visibleMenu"> Pengumuman</div>
        </a>
        <a routerLink="/rilisan" routerLinkActive="active">
            <i class="fa fa-fw fa-film"></i>
            <div class="visibleMenu"> Daftar Rilisan</div>
        </a>
        <a routerLink="/diskusi" routerLinkActive="active">
            <i class="fa fa-fw fa-comments-o"></i>
            <div class="visibleMenu"> Diskusi</div>
        </a>
        <hr class="style1" />
        <a routerLink="/tentang" routerLinkActive="active">
            <i class="fa fa-fw fa-info-circle"></i>
            <div class="visibleMenu"> Tentang Kami</div>
        </a>
        <a href="https://drive.google.com/drive/folders/19EiftJUOUT_kiFSF4wTD00lyB5BN203g" target="_blank" rel="noreferrer">
            <i class="fa fa-fw fa-file-archive-o"></i>
            <div class="visibleMenu"> Backup File GDrive</div>
        </a>
        <a href="https://discord.gg/xGWdExk" target="_blank" rel="noreferrer">
            <i class="fa">
                <svg viewBox="-357 161 245 240" style="margin-left: 3px; margin-right: 2px; height: 20px;">
                    <path fill="#fff" d="M-145.3 217.1c-29.2-21.9-57-21.3-57-21.3l-2.8 3.2c34.5 10.5 50.5 25.8 50.5 25.8-21.1-11.6-41.8-17.2-61-19.5-14.6-1.6-28.6-1.2-41 .4-1.2 0-2.2.2-3.4.4-7.1.6-24.3 3.2-46 12.8-7.5 3.4-12 5.9-12 5.9s16.8-16 53.3-26.6l-2-2.4s-27.8-.6-57 21.3c0 0-29.2 52.9-29.2 118.2 0 0 17 29.4 61.8 30.8 0 0 7.5-9.1 13.6-16.8-25.8-7.7-35.5-23.9-35.5-23.9s2 1.4 5.7 3.4c.2.2.4.4.8.6.6.4 1.2.6 1.8 1 5.1 2.8 10.1 5.1 14.8 6.9 8.3 3.2 18.2 6.5 29.8 8.7 15.2 2.8 33.1 3.9 52.5.2 9.5-1.6 19.3-4.5 29.4-8.7 7.1-2.6 15-6.5 23.3-12 0 0-10.1 16.6-36.7 24.1 6.1 7.7 13.4 16.4 13.4 16.4 44.8-1.4 62-30.8 62-30.8.1-65.1-29.1-118.1-29.1-118.1zm-127.1 99.4c-11.4 0-20.7-10.1-20.7-22.5s9.1-22.5 20.7-22.5 20.9 10.1 20.7 22.5c0 12.3-9.2 22.5-20.7 22.5zm74 0c-11.4 0-20.7-10.1-20.7-22.5s9.1-22.5 20.7-22.5 20.7 10.1 20.7 22.5c0 12.3-9.2 22.5-20.7 22.5z"></path>
                </svg>
            </i>
            <div class="visibleMenu"> Discord</div>
        </a>
    </div>

</header>

<!-- Content -->
<main class="bifeldy">

    <!-- Clear Area -->
    <div class="clearfix mt-5"> &nbsp; </div>

    <!-- Routing Pages -->
    <router-outlet></router-outlet>

    <!-- Clear Area -->
    <div class="row mt-4"></div>

</main>

<!-- Footer -->
<footer>
    <div class="ShadowsIntoLight" style="float: left;">
        &nbsp;
        <span class="copyleft">
            <font color="#20ff6b">&copy; </font>
        </span>
        <font color="#ffffff">2012 </font>
        <font color="#00FFFF">All-Wrong </font>
        <font color="#fbce78">UnReserved. </font>
        <font color="#000000">|| </font>
        <font color="#20ff6b">B. </font>
        <font color="#ffffff">Bias </font>
        <font color="#00FFFF">A. </font>
        <font color="#fbce78">Ch. </font>
        &nbsp;
    </div>
</footer>