<!-- Content Row -->
<div class="container">
                    
    <!-- Judul -->
    <div class="row mt-4">
        <div class="col-12">
            <h3 class="widget-header">
                {{ detailData.title }}
            </h3>
        </div>
    </div>

    <!-- Kontent -->
    <div class="row mt-4">

        <!-- Kolom Kiri -->
        <div class="col-sm-12 col-md-5 col-lg-4">

            <!-- Advertisement -->
            <div class="gambar mb-3">
                <span class="close-button">&times;</span>
                <img src="https://image.tmdb.org/t/p/original{{detailData.poster_path}}" alt="{{ detailData.original_title | slice: 0:20 }}" />
            </div>

            <!-- Information -->
            <div class="widget widget-bg mb-3 Roboto">
                <h3 class="widget-header">
                    Information
                </h3>
                <div class="widget-content">
                    <div class="widget-topic">
                        Status: {{ detailData.status }}
                        <br />
                        Aired: {{ detailData.release_date }}
                        <br />
                        Duration: {{ detailData.runtime }} min.
                        <br />
                        Budget: {{ detailData.budget  | currency: 'USD':'symbol-narrow':'1.2-2' }}
                        <br />
                        Score: {{ detailData.vote_average }} ({{ detailData.vote_count }} ppl)
                        <br />
                        Popularity: {{ detailData.popularity }}
                        <br />
                        Genres:
                        <a *ngFor="let genre of detailData.genres; index as i;" routerLink="/genre/{{genre.id}}">
                            {{genre.name}}
                        </a>
                        <br />
                    </div>
                    
                </div>
            </div>

            <!-- Producer -->
            <div class="widget widget-bg mb-3">
                <h3 class="widget-header">
                    Producer
                </h3>
                <div class="widget-content">
                    <ul class="list-unstyled">
                        <li class="media widget-topic" *ngFor="let companyName of detailData.production_companies;">
                            <img class="mr-2" src="https://image.tmdb.org/t/p/original{{companyName.logo_path}}" width="50"/>
                            <div class="media-body">
                                <strong>{{ companyName.name }}</strong>
                                <br />
                                <span class="widget-creator">
                                    {{ companyName.origin_country }}
                                    <span *ngFor="let companyOrigin of detailData.production_countries;">
                                        <span *ngIf="companyName.origin_country == companyOrigin.iso_3166_1">
                                            {{ ' -- ' + companyOrigin.name }}
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Kolom Kanan -->
        <div class="col-sm-12 col-md-7 col-lg-8">

            <!-- Deskripsi -->
            <div class="widget widget-bg mb-3 Nunito">
                <h3 class="widget-header">
                    {{ detailData.original_title + "'s"}} Overview
                </h3>
                <div class="widget-content">
                    <div class="widget-topic">
                        {{ detailData.overview }}
                    </div>
                </div>
            </div>

            <!-- Pemain & Staff -->
            <div class="widget widget-bg mb-3 IndieFlower">
                <h3 class="widget-header">
                    <span class="widget-more" style="float: right;">
                        <a href="/post" style="font-weight: normal; font-size: 15px;">
                            View More
                        </a>
                    </span>
                    Casts
                </h3>
                <div class="widget-content">
                    <div class="widget-topic">
                        <div class="carousel">
                            <div class="carousel-cell" data-flickity-bg-lazyload="https://orig00.deviantart.net/7641/f/2018/195/4/e/platelet_from_cells_at_work__by_mumuryu-dch6kz8.png"></div>
                            <div class="carousel-cell" data-flickity-bg-lazyload="https://orig00.deviantart.net/7641/f/2018/195/4/e/platelet_from_cells_at_work__by_mumuryu-dch6kz8.png"></div>
                            <div class="carousel-cell" data-flickity-bg-lazyload="https://orig00.deviantart.net/7641/f/2018/195/4/e/platelet_from_cells_at_work__by_mumuryu-dch6kz8.png"></div>
                            <div class="carousel-cell" data-flickity-bg-lazyload="https://orig00.deviantart.net/7641/f/2018/195/4/e/platelet_from_cells_at_work__by_mumuryu-dch6kz8.png"></div>
                            <div class="carousel-cell" data-flickity-bg-lazyload="https://orig00.deviantart.net/7641/f/2018/195/4/e/platelet_from_cells_at_work__by_mumuryu-dch6kz8.png"></div>
                            <div class="carousel-cell" data-flickity-bg-lazyload="https://orig00.deviantart.net/7641/f/2018/195/4/e/platelet_from_cells_at_work__by_mumuryu-dch6kz8.png"></div>
                        </div>
                    </div>
                </div>
            </div>
  
            <!-- Review -->
            <div class="widget widget-bg mb-3 CormorantGaramond">
                <h3 class="widget-header">
                    <span class="widget-more" style="float: right;">
                        <a href="/post" style="font-weight: normal; font-size: 15px;">
                            View More
                        </a>
                    </span>
                    Reviews
                </h3>
                <div class="widget-content">
                    <div class="widget-topic">
                        <div class="borderDark" style="padding: 4px 0;">
                            <div class="spaceit">
                                <div class="mb8" style="float: right; text-align: right;">
                                    <div>Oct 25, 2018</div>
                                    <div>
                                        Overall Rating: -
                                    </div>
                                </div>
                                <div style="float: left;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="50" height="50">
                                                    <div class="picSurround mr-2">
                                                        <a href="https://myanimelist.net/profile/Pipe">
                                                            <img src="https://image.tmdb.org/t/p/w64_and_h64_face/zRg1sQbcKBJBkTkkYRtg0F71UFp.jpg" />
                                                        </a>
                                                    </div>
                                                </td>
                                                <td valign="top">
                                                    <a href="https://www.themoviedb.org/u/geekr">geekr</a>
                                                    <div class="lightLink spaceit">
                                                        <strong>336x</strong>
                                                        helpful
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="spaceit textReadability word-break pt8 mt8" style="clear: both; border-top: 1px solid lightgray; margin-top: 1rem;">
                                <span>
                                    The Harry Potter movies are great but one of the main flaws of the original franchise was the struggle the films had condensing the lengthy novels into movies under three hours. Despite the Fantastic Beasts sequel not being based on a book, it still somehow feels like its stressing to condense a five hundred page book into a smaller narrative.
                                    The movie runs from scenario to scenario so quickly that it’s hard to remember what all happened in its muddled story. That’s not to say the film is terrible at all, surprisingly. For a movie that has serious pacing pro... 
                                </span>
                                <a href="https://www.themoviedb.org/review/5bf42ec6c3a36818a30a7175">Read More!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>