/* Multi Carousel */

.carousel {
}

.carousel-cell {
    width: 150px;
    height: 225px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: gallery-cell;
    background-position: center center;
    background-size: cover;
    float: left;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}